/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Allan:wght@400;700&family=Bangers&family=Fjalla+One&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalam:wght@300;400;700&family=Knewave&family=Koulen&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Shrikhand&family=Squada+One&family=Sriracha&family=Titan+One&display=swap");

/* RESET + GENERAL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "fjalla one", sans-serif;
  padding-top: 80px;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

section {
  padding: clamp(40px, 6vw, 90px) clamp(20px, 5vw, 80px);
}

/* FLEXBOX */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.box {
  /* display: flex; */
  /* flex-direction: column; */
}

/* GENERAL TEXT FORMAT */
.h-title {
  font-family: "Racing Sans One";
  font-weight: 100;
  font-size: clamp(2rem, 4vw, 3rem);
  text-align: center;
}

.h-title span {
  color: red;
  font-size: clamp(2.4rem, 5vw, 3.5rem);
}

p {
  font-family: "Roboto";
  font-weight: 300;
}

.title, #s-title {
  padding-bottom: 40px; 
}

/* CARD */

.card-container {
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  max-width: 420px;
}

.card-text {
  padding: 20px;
  text-align: center;
}

/* HOME PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* NAV BAR _____________________________________________ */
.navbar {
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 50px; */
  background: rgb(28, 30, 32);
  padding: clamp(20px 5vw, 60px);
  box-shadow: 0 5px 20px gray;
  padding: 20px 25px 10px 25px;
}

.logo {
  color: white;
  /* font-weight: bold; */
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "racing sans one";
}

.logo span {
  color: red;
  font-size: 1.8rem;
  /* font-family: "racing sans one"; */
}

.navigation {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 25px;
  list-style: none;
  /* margin-left: 30px; */
  /* position: relative; */
}

.navigation a {
  text-decoration: none;
  color: white;
  /* font-weight: 500; */
  font-size: 1.2rem;
  transition: 0.3s;
}

.navigation a:hover {
  color: red;
}

/* BANNER SECTION _____________________________________________ */
.banner {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  z-index: 10;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.619);
  text-align: center;
}

/* .banner::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/wTYhkG6C/f1-banner4.avif) center/cover;
  background-size: fit;
  position: absolute;
  z-index: -1;
  inset: 0;
  height: 100%;
  object-fit: cover;
} */

.banner-content {
   max-width: 900px; */
  text-align: center;
  padding: 100px 20px;
   z-index: 1; */
}

.banner h2 {
  font-size: clamp(2.3rem, 4vw, 3rem);
  color: white;
  letter-spacing: 0.8px;
}

.banner h2 span {
  /* "Pinnacle" */
  color: red;
  font-size: clamp(3rem, 7vw, 4.5rem);
  font-family: "racing sans one";
  letter-spacing: 0px;
}

.banner p {
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: white;
  margin: 20px auto;
  font-family: "fjalla one";
  max-width: 800px;
}

.banner-btn {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.76);
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  margin-top: 25px;
  display: inline-block;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgb(134, 133, 133);
}

.banner-btn:hover {
   CHANGE HOVER IN ALL BUTTONS TO THIS FORMAT******* */
  color: red;
  background: white;
}

/* UPCOMING EVENTS SECTION _____________________________________________ */
.upcoming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.upcoming .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.upcoming .card {
  color: white;
  width: 400px;
  box-shadow: 0 5px 25px rgba(135, 135, 135, 0.443);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.upcoming .image-box {
  display: flex;
  justify-content: center;
}

.upcoming .image-box img {
    object-fit: cover;
  width: 100%;
  height: 100%;
  filter: contrast(95%)
}


.upcoming h3 {
  font-size: 1.4rem;
}
.upcoming .h-title {
  color: white;
  padding-top: 60px;
}

.upcoming p {
  font-size: 1.1rem;
}


.upcoming .card-round {
  text-align: left;
  font-weight: 400;
  opacity: 90%;
}

.upcoming .card-track {
  font-family: racing sans one;
  font-size: 1.7rem;
  color: red;
  text-align: right;
  text-decoration: underline;
}

.upcoming .card-dates {
  font-family: monospace;
  font-size: 1.1rem;
  text-align: right;
}

.upcoming-btn {
  color: white;
  font-family: racing sans one;
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.3s;
  display: inline-block;
  padding: 20px;
}

.upcoming-btn:hover {
  color: red;
  transition: filter 0.3s ease;
}

/* ----> card = red */
.upcoming .card:hover {
  background: linear-gradient(black);
  filter: contrast(110%);
  transition: filter 0.3s ease;
}

.upcoming .card :hover {
  color: red;
  opacity: 100%;
  transition: filter 0.3s ease;
}

/* ----> previous card */
.upcoming #previous {
  opacity: 90%;
  filter: grayscale(100%) saturate(100%) contrast(120%);
}

/* ----> previous card: track   */
#previous .card-track {
  color: rgb(223, 220, 220);
}

/* ----> if hover, previous card  */
#previous:hover {
  background: #111111d2;
  opacity: 100%;
  filter: grayscale(0) saturate(100%) contrast(120%);
  color: red;
  transition: filter 0.3s ease;
}

/* ----> if hover, previous track  */
#previous .card-track:hover {
  color: red;
  transition: filter 0.3s ease;
}

/* TEAMS SECTION _____________________________________________ */
.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}

.teams .card-container {
  display: flex;
flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.teams .card {
  box-shadow: 0 5px 25px rgba(135, 135, 135, 0.443);
  background-color: rgba(0, 0, 0, 0.6);
  height: 360px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.teams .image-box {
  height: 260px;
  display: flex;
  justify-content: center;
}

.teams .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teams .h-title {
  padding-top: 80px;
}

.teams #mercedes {
  background-color: rgb(231, 231, 231);
}

.teams .text {
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.teams h2 {
  padding: 15px;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: "racing sans one";
}

.teams-btn {
  background-color: rgba(5, 5, 5, 0.612);
  /* z-index: 1; */
  padding: 12px 40px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  transition: 0.3s;
  margin: 60px auto 0;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 5px 20px gray;
  color: white;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

.teams-btn:hover {
  color: white;
  background: red;
  transition: 0.3s;
}

/* CONTACT SECTION  _____________________________________________ */
.teams-and-contact::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(https://i.postimg.cc/3wxNsFdm/dramatic_season_openers_header_webp.avif)
      center/cover;
  z-index: -1;
  position: fixed;
  inset: 0;
  filter: opacity(90%);
}

.contact {
  text-align: center;
  color: white;
  position: relative;
}

.contact-form {
  padding: 30px;
  background: rgba(231, 2, 2, 0.66);
  box-shadow: 0 15px 20px black;
  border-radius: 10px;
  max-width: 500px;
  margin: 40px auto 0;
}

.contact .h-title {
  padding-top: 80px;
}

.contact-form h3 {
  /* "send a message" */
  color: white;
  font-size: 1.5em;
  margin: 15px 0 40px 0;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid black;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.contact-form textarea {
  min-height: 150px;
}

.contact-form input[type="submit"] {
  font-size: 0.8rem;
  background: whitesmoke;
  text-transform: uppercase;
  max-width: 130px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"]:hover {
  color: white;
  border: none;
  background: red;
  transition: 0.3s;
}

/* ABOUT PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.about .image-box img {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding-top: 0px;
}

.about .image-box {
  flex: 1 1 400px;
}

.about .title {
  flex: 1 1 400px;
  padding: 0 40px;
}

.about .h-title {
  text-align: left;
  padding-bottom: 15px;
}

.about p {
  color: black;
  font-family: "roboto flex";
  font-size: clamp (1rem, 1.4vw, 1.3rem);
  text-align: left;
  font-weight: 350;
  text-align: justify;
  letter-spacing: 0;
}

/* ABOUT + MISSION WRAPPER _____________________________________________*/
.about-and-mission {
  box-shadow: 0 10px 20px rgb(4, 4, 4);
  padding: 40px;
  margin: 40px;
  background: rgba(0, 0, 0, 0.11);
  border-radius: 5px;
}

/* MISSION SECTION _____________________________________________ */
.mission {
  text-align: center;
  margin: 30px;
  padding: 40px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.643);
  border-radius: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.777);
}

.mission .h-title {
  padding-bottom: 15px;
}

.mission .title .p-title {
  font-family: "russo one";
  letter-spacing: 0.5px;
}

.mission .title p {
}

/* HISTORY SECTION _____________________________________________ */
.history {
  justify-content: center;
  min-height: 100vh;
  align-content: center;
  text-align: center;
  color: white;
  position: relative;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.731);
}

.history::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0)),
    url(https://i.postimg.cc/kX51ff3c/C62374B_W_webp.avif) center/cover;
  z-index: -1;
  position: absolute;
  inset: 0;
  filter: opacity(80%);
}

.history .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: auto;
}

.history .card {
  width: 350px;
  font-size: clamp(1rem, 1.3vw, 1.25rem);
}

.history .h-title {
}

.history .card-text {
  padding: 15px;
}

.history .card-text p {
  padding-bottom: 20px;
}

.history-btn {
  color: white;
  font-family: "racing sans one";
  font-size: 1.5em;
  letter-spacing: 1px;
  transition: 0.5s;
}

.history-btn:hover {
  color: red;
}

/* MEET THE DRIVERS SECTION _____________________________________________ */
.drivers {
  min-height: 100vh;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.385);
  padding: 40px;
  align-content: center;

}

.drivers::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/mD0rFxVH/Getty_Images_2151452065_webp.avif)
      center/cover;
  z-index: -1;
  position: absolute;
  inset: 0;
}

.drivers .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.drivers .card {
  max-width: 320px;
  max-height: 500px;
  box-shadow: 0 5px 25px gray;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}


.drivers .image-box img {
  object-fit: cover;
}

.drivers h2 {
  padding: 15px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: "racing sans one";
}


.drivers .text {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}

 /* ---> driver name in about page */
.driver-btn {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-family: "russo one";
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
}

.driver-btn:hover {
  color: red;
  transition: 0.3s;
}

/* EVENTS PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* SCHEDULE SECTION _____________________________________________ */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 8px;
  color: white;
  font-family: "poppins";
  padding: 30px;
}

td,
th {
  padding: 15px;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.round {
  text-align: left;
  padding-left: 10px;
  color: rgb(235, 2, 2);
}
.tb-headers {
  color: rgb(202, 202, 202);
  border: 0px;
  font-weight: bold;
  letter-spacing: 0.4px;
  padding-bottom: 3px;
  padding-top: 0px;
}

.schedule .h-title {
  color: white;
  padding-bottom: 25px;
}

.race-schedule {
  background-color: rgba(0, 0, 0, 0.689);
  box-shadow: 0 8px 20px black;
}

.schedule {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}

.schedule::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.642)),
    url(https://i.postimg.cc/Gp5GZdy1/1750720263_jpg.avif) center/cover;
  z-index: -1;
  position: fixed;
  inset: 0;
}

/* FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 25px 15px;
  opacity: 80%;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.footer a:hover {
  color: red;
}

.footer .icons a {
  font-size: 1.8rem;
  margin: 0 6px;
}

.footer-credit {
  font-family: poppins;
  font-size: 0.8rem;
  opacity: 70%;
}

/* MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .navbar .navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .mission {
    margin: 40px 20px;
  }
}

@media (min-width: 600px) {

  .drivers .card .teams .card .history .card .upcoming .card {
    width:100%;
  }


  .drivers {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  }

  .navbar {
    align-items: flex-start;
  }

  .navigation {
    justify-content: center;
  }

  .banner-content {
    padding-top: 140px;

  }

  .about .h-title {
    text-align: center;
  }

  .schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  footer {
    position: relative;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  section {
    padding: 30px;
  }

  .navbar {
    padding: 10px;
  }

  .navbar {
    font-size: .5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .h-title {
    font-size: 1.6rem;
  }

  .h-title span {
    font-size: 2rem;
  }

  .mission {
    padding: 20px 15px;
  }
}