/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Allan:wght@400;700&family=Bangers&family=Fjalla+One&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalam:wght@300;400;700&family=Knewave&family=Koulen&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Shrikhand&family=Squada+One&family=Sriracha&family=Titan+One&display=swap");

/* RESET + GENERAL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "fjalla one", sans-serif;
  padding-top: 80px;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

section {
  padding: clamp(40px, 6vw, 90px) clamp(20px, 5vw, 80px);
}

/* FLEXBOX */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.box {
  /* display: flex; */
  /* flex-direction: column; */
}

/* GENERAL TEXT FORMAT */
.h-title {
  font-family: "Racing Sans One";
  font-weight: 100;
  font-size: clamp(2rem, 4vw, 3rem);
  text-align: center;
}

.h-title span {
  color: red;
  font-size: clamp(2.4rem, 5vw, 3.5rem);
}

p {
  font-family: "Roboto";
  font-weight: 300;
}

/* CARD */

.card-container {
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  max-width: 420px;
}

.card-text {
  padding: 20px;
  text-align: center;
}

/* HOME PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* NAV BAR _____________________________________________ */
.navbar {
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 50px; */
  background: rgb(28, 30, 32);
  padding: clamp(20px 5vw, 60px);
  box-shadow: 0 5px 20px gray;
  padding: 20px 25px 10px 25px;
}

.logo {
  color: white;
  /* font-weight: bold; */
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "racing sans one";
}

.logo span {
  color: red;
  font-size: 1.8rem;
  /* font-family: "racing sans one"; */
}

.navigation {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 25px;
  list-style: none;
  /* margin-left: 30px; */
  /* position: relative; */
}

.navigation a {
  text-decoration: none;
  color: white;
  /* font-weight: 500; */
  font-size: 1.2rem;
  transition: 0.3s;
}

.navigation a:hover {
  color: red;
}

/* BANNER SECTION _____________________________________________ */
.banner {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  height: 100%;
  min-height: 100vh;
  z-index: 10;
  position: relative;
  box-shadow: 0 5px 20px gray;
  /* margin-top: 0px; */
}

.banner::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/wTYhkG6C/f1-banner4.avif) center/cover;
  /* background-size: cover; */
  position: absolute;
  z-index: -1;
  inset: 0;
  /* height: 100%; */
  object-fit: cover;
}

.banner-content {
  /* max-width: 900px; */
  text-align: center;
  padding: 100px 20px;
  /* z-index: 1; */
}

.banner h2 {
  font-size: clamp(2.3rem, 4vw, 3rem);
  color: white;
  letter-spacing: 0.8px;
}

.banner h2 span {
  /* "Pinnacle" */
  color: red;
  font-size: clamp(3rem, 7vw, 4.5rem);
  font-family: "racing sans one";
  letter-spacing: 0px;
}

.banner p {
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: white;
  margin: 20px auto;
  /* letter-spacing: 0.3px; */
  font-family: "fjalla one";
  max-width: 800px;
}

.banner-btn {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(255, 0, 0, 0.76);
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  margin-top: 25px;
  display: inline-block;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 20px rgb(134, 133, 133);
}

.banner-btn:hover {
  /* CHANGE HOVER IN ALL BUTTONS TO THIS FORMAT******* */
  color: red;
  background: white;
}

/* UPCOMING EVENTS SECTION _____________________________________________ */
.upcoming {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  justify-content: center;
  /* gap: 30px; */
  /* min-height: 120vh; */
  /* z-index: 1; */
  position: relative;
  padding-bottom: 50px;

  /* padding: 20px 10px 150px 10px; */
  /* box-shadow: 0 4px 25px rgba(0, 0, 0, 0.731); */
}

.upcoming .card-container {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  /* flex-direction: row; */
  justify-content: center;
  gap: 30px;
  /* margin-top: 40px; */
}

.upcoming .card {
  /* padding: 25px; */
  color: white;
  width: 400px;
  box-shadow: 0 5px 25px rgba(135, 135, 135, 0.443);
  background-color: rgba(0, 0, 0, 0.6);
display: flex;
flex-direction: column;

  /* text-align: center; */
}

.upcoming .image-box {
  /* object-fit: cover; */
  /* width: 100%; */
  /* height: 180px; */
  display: flex;
  justify-content: center;
}

.upcoming .image-box img {
    object-fit: cover;
  width: 100%;
  height: 100%;
  filter: contrast(95%)
}

.upcoming .title {
  /* align-content: center; */
  /* padding-top: 40px; */
}

.upcoming h3 {
  font-size: 1.4rem;
  /* text-align: center; */
}
.upcoming .h-title {
  color: white;
  /* font-size: clamp(2rem, 5vw, 3rem); */
  /* text-align: center; */
  padding-bottom: 30px;
  padding-top: 30px;
}

.upcoming p {
  /* padding: 0px; */
  font-size: 1.1rem;
}

.upcoming .card-round-and-track {
  /* display: inline; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.upcoming .card-round {
  text-align: left;
  /* padding-left: 0px; */
  font-weight: 400;
  /* margin-top: 8px; */
  opacity: 90%;
}

.upcoming .card-track {
  font-family: racing sans one;
  font-size: 1.7rem;
  color: red;
  text-align: right;
  /* margin-top: 5px; */
  /* margin-right: 20px; */
  text-decoration: underline;
}

.upcoming .card-dates {
  font-family: monospace;
  font-size: 1.1rem;
  text-align: right;
  /* margin-right: 20px; */
  /* margin-bottom: 20px; */
}

.upcoming-btn {
  color: white;
  font-family: racing sans one;
  /* font-weight: 500; */
  /* letter-spacing: 1px; */
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.3s;
  display: inline-block;
  padding: 20px;
}

.upcoming-btn:hover {
  color: red;
  transition: filter 0.3s ease;
}

/* ----> card = red */
.upcoming .card:hover {
  background: linear-gradient(black);
  filter: contrast(110%);
  transition: filter 0.3s ease;
}

.upcoming .card :hover {
  color: red;
  opacity: 100%;
  transition: filter 0.3s ease;
}

/* ----> previous card */
.upcoming #previous {
  opacity: 90%;
  filter: grayscale(100%) saturate(100%) contrast(120%);
}

/* ----> previous card: track   */
#previous .card-track {
  color: rgb(223, 220, 220);
}

/* ----> if hover, previous card  */
#previous:hover {
  background: #111111d2;
  opacity: 100%;
  filter: grayscale(0) saturate(100%) contrast(120%);
  color: red;
  transition: filter 0.3s ease;
}

/* ----> if hover, previous track  */
#previous .card-track:hover {
  color: red;
  transition: filter 0.3s ease;
}

/* TEAMS SECTION _____________________________________________ */
.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* min-height: 100vh; */
  /* z-index: 1; */
  position: relative;
  padding-bottom: 50px;
}

.teams .card-container {
  /* align-items: center; */
  display: flex;
flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.teams .card {
  box-shadow: 0 5px 25px rgba(135, 135, 135, 0.443);
  background-color: rgba(0, 0, 0, 0.6);
  /* display: flex; */
  /* flex-direction: column; */
  height: 360px;
  /* max-width: 300px; */
  width: 300px;
  /* border-radius: 5px; */
  /* overflow: hidden; */
  /* aspect-ratio: 1/1; */
  display: flex;
  flex-direction: column;
}

.teams .image-box {
  height: 260px;
  display: flex;
  justify-content: center;

  /* align-items: center; */
}

.teams .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teams .h-title {
  /* color: white; */
  /* font-size: clamp(2rem, 5vw, 3rem); */
  padding-top: 80px;
  padding-bottom: 30px;
}

.teams #mercedes {
  background-color: rgb(231, 231, 231);
}

.teams .text {
  /* font-family: "racing sans one"; */
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.teams h2 {
  padding: 15px;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: "racing sans one";
  /* font-size: 1.6rem; */
}

.teams-btn {
  background-color: rgba(5, 5, 5, 0.612);
  /* z-index: 1; */
  padding: 12px 40px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  transition: 0.3s;
  margin: 60px auto 0;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 5px 20px gray;
  /* font-family: "racing sans one"; */
  color: white;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

.teams-btn:hover {
  color: white;
  background: red;
  transition: 0.3s;
}

/* CONTACT SECTION  _____________________________________________ */

.teams-and-contact::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(https://i.postimg.cc/3wxNsFdm/dramatic_season_openers_header_webp.avif)
      center/cover;
  z-index: -1;
  position: fixed;
  inset: 0;
  filter: opacity(90%);
}

.contact {
  text-align: center;
  color: white;
  /* align-items: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* width: 100%; */
  /* min-height: 100vh; */
  /* background-size: cover; */
  /* z-index: 1; */
  position: relative;
}

.contact-form {
  padding: 30px;
  background: rgba(231, 2, 2, 0.66);
  box-shadow: 0 15px 20px black;
  border-radius: 10px;
  /* width: 100%; */
  max-width: 500px;
  margin: 40px auto 0;
}

.contact .h-title {
  padding-top: 80px;
  /* color: white; */
  /* font-size: clamp(2rem, 5vw, 3rem); */
}

/* .contact .h-title span {
  font-size: clamp(2rem, 5vw, 3rem);
} */

/* .contact .title p {
  color: white;
  font-family: roboto;
  letter-spacing: 0.5px;
  padding-bottom: 30px;
  font-size: 1.2em;
} */

.contact-form h3 {
  /* "send a message" */
  color: white;
  font-size: 1.5em;
  margin: 15px 0 40px 0;
  letter-spacing: 0.5px;
  font-weight: 300;
}

/* .contact-form .input-box {
  position: relative;
  margin-bottom: 20px;
} */

.contact-form input,
.contact-form textarea {
  width: 100%;
  /* border: 1px solid black; */
  border: none;
  border-radius: 8px;
  padding: 12px;
  /* outline: none; */
  /* font-size: 16px; */
  /* font-weight: 300; */
  margin-bottom: 15px;
  /* resize: none; */
}

.contact-form textarea {
  min-height: 150px;
}

.contact-form input[type="submit"] {
  font-size: 0.8rem;
  /* color: rgb(81, 78, 78); */
  background: whitesmoke;
  /* display: inline-block; */
  text-transform: uppercase;
  /* text-decoration: none; */
  /* letter-spacing: 0.2px; */
  max-width: 130px;
  /* transition: 0.3s; */
  font-weight: bold;
  /* border: none; */
  cursor: pointer;
  /* padding: 5px; */
  /* margin-top: 20px; */
  /* text-align: center; */
  /* margin: 0px; */
}

form input[type="submit"]:hover {
  color: white;
  border: none;
  background: red;
  transition: 0.3s;
}

/* ABOUT PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 100px; */
  gap: 50px;
  /* padding: 10px 60px; */
}

.about .content {
  /* flex-wrap: nowrap; */
}

.about .box {
  /* width: 100%; */
  /* flex: 1 1 400px; */
}

.about .image-box img {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding-top: 0px;
}

.about .image-box {
  flex: 1 1 400px;
}

.about .title {
  flex: 1 1 400px;
  padding: 0 40px;
}

.about .h-title {
  text-align: left;
  padding-bottom: 15px;
}

.about p {
  color: black;
  font-family: "roboto flex";
  font-size: clamp (1rem, 1.4vw, 1.3rem);
  text-align: left;
  font-weight: 350;
  text-align: justify;
  letter-spacing: 0;
  /* padding-right: 180px; */
  /* padding-right: 0; */
}

/* ABOUT + MISSION WRAPPER _____________________________________________*/
.about-and-mission {
  box-shadow: 0 10px 20px rgb(4, 4, 4);
  /* padding-bottom: 30px; */
  padding: 40px;
  margin: 40px;
  /* opacity: 95%; */
  background: rgba(0, 0, 0, 0.278);
  border-radius: 5px;
}

/* MISSION SECTION _____________________________________________ */
.mission {
  /* align-items: center; */
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  text-align: center;
  margin: 30px;
  padding: 40px;
  /* max-width: 1500px; */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.643);
  border-radius: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.845);
}

.mission .h-title {
  /* color: white; */
  padding-bottom: 15px;
}

.mission .title .p-title {
  font-family: "russo one";
  /* font-size: 1.2em; */
  /* color: white; */
  letter-spacing: 0.5px;
  /* padding-top: 20px; */
}

.mission .title p {
  /* font-family: "roboto"; */
  /* font-size: 1.3em; */
}

/* HISTORY SECTION _____________________________________________ */
.history {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  min-height: 100vh;
  /* z-index: 1; */
  align-content: center;
  text-align: center;
  color: white;
  position: relative;
  /* padding: 60px auto; */
  /* padding: 20px 10px 150px 10px; */
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.731);
}

.history::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0)),
    url(https://i.postimg.cc/kX51ff3c/C62374B_W_webp.avif) center/cover;
  z-index: -1;
  /* background-size: cover; */
  position: absolute;
  inset: 0;
  filter: opacity(80%);
}

.history .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: auto;
  /* line-height: 1.7; */
}

.history .card {
  width: 350px;
  /* max-width: 900px; */
  /* margin: auto; */
  font-size: clamp(1rem, 1.3vw, 1.25rem);
}

.history .h-title {
  padding-bottom: 40px;
}

.history .card-text {
  padding: 15px;
}

.history .card-text p {
  padding-bottom: 20px;
}

.history-btn {
  color: white;
  font-family: "racing sans one";
  /* font-weight: 500; */
  font-size: 1.5em;
  /* text-decoration: none; */
  letter-spacing: 1px;
  transition: 0.5s;
  /* display: inline-block; */
}

.history-btn:hover {
  color: red;
}

/* MEET THE DRIVERS SECTION _____________________________________________ */

.drivers {
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  /* color:white; */
  position: relative;
  /* padding: 60px 10px 120px 10px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.385);
  padding: 40px;
  align-content: center;

}

.drivers::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/mD0rFxVH/Getty_Images_2151452065_webp.avif)
      center/cover;
  z-index: -1;
  /* background-size: cover; */
  /* width: 100%; */
  position: absolute;
  inset: 0;
}

.drivers .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* flex-direction: row; */
  gap: 30px;
  /* align-items: center; */
}

.drivers .card {
  max-width: 320px;
  max-height: 500px;
  /* border: 10px solid white; */
  box-shadow: 0 5px 25px gray;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  /* align-content: center; */
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* border-radius: 5px; */
  /* overflow: hidden; */
  /* height: 460px; */
}

.drivers .image-box {
  /* height: 260px; */
  /* display: flex; */
  /* justify-content: center; */
}

.drivers .image-box img {
  object-fit: cover;
  /* width: 80%; */
  /* height: 80%; */
}

.drivers .title {
  /* padding-bottom: 50px; */
  /* padding-top: 50px; */
}
.drivers .h-title {
  /* color: white; */
  padding-bottom: 40px;
}

.drivers .title p {
  /* color: white; */
}

.drivers h2 {
  padding: 15px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: "racing sans one";
}

.drivers .text p {
  /* color: white; */
  /* font-family: "roboto"; */
  /* padding: 20px 10px 25px 10px; */
}

.drivers .text {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* padding: 15px; */
}

.driver-btn {
  /* driver name in about page */
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  font-family: "russo one";
  /* font-weight: 900; */
  color: white;
  text-decoration: none;
  display: inline-block;
  /* vertical-align: top; */
  padding: 15px;
  /* text-align: center; */
}

.driver-btn:hover {
  color: red;
  transition: 0.3s;
}

/* EVENTS PAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* SCHEDULE SECTION _____________________________________________ */

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 8px;
  color: white;
  font-family: "poppins";
  padding: 30px;
}

td,
th {
  padding: 15px;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
table,
td,
th {
  /* font-size: 1rem; */
}

.round {
  text-align: left;
  padding-left: 10px;
  color: rgb(235, 2, 2);
}
.tb-headers {
  color: rgb(202, 202, 202);
  border: 0px;
  font-weight: bold;
  letter-spacing: 0.4px;
  /* vertical-align: bottom; */
  padding-bottom: 3px;
  padding-top: 0px;
  /* font-size: 1rem; */
}

.schedule .h-title {
  /* text-align: center; */
  /* padding: 50px 0px 30px 0px; */
  color: white;
  padding-bottom: 25px;
  /* font-size: clamp(2rem, 5vw, 3.5rem); */
  /* font-family: racing sans one; */
}

.race-schedule {
  /* width: 100%; */
  /* z-index: 1; */
  background-color: rgba(0, 0, 0, 0.689);
  box-shadow: 0 8px 20px black;
}

.schedule {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 80px;
  /* padding: 80px 20px; */
  /* width: 100%; */
}

.schedule::before {
  content: "";
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.642)),
    url(https://i.postimg.cc/Gp5GZdy1/1750720263_jpg.avif) center/cover;
  z-index: -1;
  position: fixed;
  inset: 0;
}

/* FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.footer {
  background: black;
  color: white;
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* flex-direction: column; */
  padding: 25px 15px;
  /* gap: 10px; */
  opacity: 80%;
}

.footer-links {
  /* padding-top: 15px; */
}

.footer ul {
  list-style: none;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  /* font-weight: 300; */
}

.footer a:hover {
  color: red;
}

.footer .icons a {
  /* color: white; */
  font-size: 1.8rem;
  margin: 0 6px;
  /* z-index: 1; */
}

.footer-credit {
  font-family: poppins;
  font-size: 0.8rem;
  opacity: 70%;
}

/* MEDIA QUERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 1200px) {
  section {
    /* padding: 40px; */
  }

  .h-title {
    /* font-size: 28pt; */
  }

  .h-title span {
    /* font-size: 32pt; */
  }

  .banner-content h2 {
    /* font-size: 32pt; */
  }
}

@media (max-width: 900px) {
  section {
    /* padding: 40px 30px; */
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .navbar .navigation {
    /* flex-wrap: wrap; */
    /* justify-content: center; */
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  /* .about .content {
    flex-direction: column;
    text-align: center;
  } */

  .about .title p {
    /* padding: 15px 0 0 0; */
  }

  .h-title {
    /* padding: 0 50px; */
  }

  .mission {
    margin: 40px 20px;
    /* padding: 30px 20px; */
  }

  .race-schedule {
    /* width: 100%; */
  }
}

@media (min-width: 600px) {
  section {
    padding: 40px 20px;
  }

  .drivers .card .teams .card .history .card .upcoming .card {
    width:100%;
  }

  .navbar {
    align-items: flex-start;
  }

  .navigation {
    justify-content: center;
  }

  .banner-content {
    padding-top: 140px;
  }

  .banner-content h2 {
    /* font-size: 28pt; */
  }

  .contact-form {
    /* min-width: unset; */
    /* padding: 20px; */
  }

  .about {
    /* gap: 20px; */
  }

  .about .image-box {
    /* max-width: 100%; */
  }

  .history .title p {
    /* font-size: 18pt; */
  }

  .h-title {
    /* font-size: 1.8rem; */
  }

  .h-title span {
    /* font-size: 2.3rem; */
  }

  .mission {
    padding: 30px;
  }
  
  
.upcoming .card-container {
  grid-template-columns: 1fr;
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  /* section {
    padding: 30px 15px;
  } */

  /* .navbar .navigation li a {
    font-size: 1em;
  } */

  .h-title {
    font-size: 1.6rem;
  }

  .h-title span {
    font-size: 2rem;
  }
  /* 
  .driver-btn {
    font-size: 16pt;
  } */

  /* .teams-btn {
    font-size: 18pt;
    padding: 10px 20px;
  } */

  /* .about .p-title {
    font-size: 1rem;
  } */

  /* .mission {
    padding: 20px 15px;
  } */
}
